<h1><span data-i18n="skills.my_skills">About</span></h1>
<p>
<div>
 <a href="https://www.dropbox.com/scl/fi/gh6z9fdls9sdp49ibhcjw/ekaterinailinCV-1.pdf?rlkey=8jtnoblrjq6ns7fi9qiur972j&st=5tz31cmf&dl=0" download> 
  My CV.
 </a>
</div>
</p>
<p>
<div>
     I’m an astrophysicist studying the magnetic activity of low-mass stars and how it interacts with the planets that orbit them. I’m particularly interested in how stellar magnetism shapes planetary environments, and I use observations of stellar flares, X-ray and radio signals to understand these processes. My work brings together space-based time-domain data from missions like TESS and CHEOPS with statistical modeling and physical theory to explore how stars and planets influence each other. 
</div>
</p>
<p>
<div>
     I began my academic journey studying physics at the Karlsruhe Institute of Technology, then completed a Master’s and PhD in astrophysics at the Leibniz Institute for Astrophysics Potsdam and the American Museum of Natural History in NYC. Since then, I was PI of the DLR-funded project XrayLoops at AIP, and now work at the Netherlands Institute for Radio Astronomy (ASTRON). Alongside my research, I enjoy mentoring students, and sharing science with broader audiences through talks and public outreach.
</div>
</p>

